/* colors */
:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --overlays: #2e2f42;
  --success: #31d0aa;
  --body-text: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --color-background: #ffffff;
  --modal-background: #fcfcfc;
}
/* base reset */

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* base styles */
body {
  font-family: "Roboto", sans-serif;
  color: var(--body-text);
  background-color: var(--color-background);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.nav-list:hover,
.nav-list:focus {
  color: var(--pressed-state);
}
.info-list:hover,
.info-list:focus {
  color: var(--pressed-state);
}

.container {
  width: 1158px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

margin-bottom: 120px;

/* main styles */
.nav-container {
  display: flex;
  justify-center: space-between;
}

.logo-part {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  padding: 24px 76px 24px 0;
}

.logo-name {
  color: var(--hero-background);
}

.nav-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--modal-overlay);
}
.container-nav-list {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}

.container-info-list {
  display: flex;
  gap: 40px;
}

.post-info-list {
  font-style: normal;
}

.info-list {
  color: inherit;
}

/* section 1 */
.main-page {
  background: var(--hero-background);
}

.page-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--color-background);
}

.button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-background);
  background: var(--primary-brand);
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: var(--pressed-state);
}

/* section 2 main feature*/
.title-list {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--hero-background);
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--overlays);
}

.title-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--body-text);
}

/* section 3 team */
.feature-page {
  background-color: var(--cloud);
  text-align: center;
}

.feature-team {
  background-color: var(--color-background);
}

.containt-teem-list {
  display: flex;
  justify-content: center;
}

/* section 4 portfolio */
.portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--body-text);
}

.container-portfolio-list {
  display: flex;
  justify-content: center;
}

/* footer */
.footer-page {
  background: var(--hero-background);
}

.logo-name-footer,
.text-footer-page {
  color: var(--cloud);
}
